@import "../../sass/main.scss";

.header{
    display: flex;
    margin: 50px 100px 0 100px;
    justify-content: space-between;
    height: 68px;
    img {
        height: 70%;
        cursor: pointer;
    }
}

.nav {
    display: inline;
    cursor: pointer;
    color: $color-secondary;
    font-size: 24px;
    margin-left: 50px;
    &:hover{
        text-decoration: underline solid $color-secondary;
    }

}