@import '../../sass/main.scss';

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
    background-color: $color-tertiary;
}