.banner {
    max-width: 1240px;
    height: 223px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-position: center;
}

.banner-text {
    color: white;
    font-size: 48px;
    text-align: center;
    padding-top: 80px;
    font-family: "montserrat";
    font-weight: 400;
}